/* reset & global */
:root {
  --main-color: rgba(32, 32, 32, 1);
  --main-color-invert: rgba(255, 255, 255, 1);
  --marvel-color: rgba(230, 36, 41, 1);
}
body {
  font-size: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
a,
button,
input[type="submit"] {
  cursor: pointer;
  outline: none;
}
button {
  border: none;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* header */
header {
  background-color: var(--main-color);
  text-align: center;
  padding-top: 10px;
}
header a {
  display: inline-block;
  margin: 10px 16px;
  color: var(--main-color-invert);
  text-transform: uppercase;
  font-weight: 700;
}

/* footer */
footer {
  margin-top: 40px;
  background-color: var(--marvel-color);
  color: var(--main-color-invert);
  padding: 15px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
footer a {
  color: var(--main-color-invert);
  text-decoration: underline;
}

/* main */
main h1 {
  background-color: var(--marvel-color);
  color: var(--main-color-invert);
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 12px;
  margin-bottom: 30px;
}
main section {
  display: grid;
}
/* recherche sans résultats */
.noResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noResults a {
  color: var(--marvel-color);
}
.noResults a:hover {
  color: var(--marvel-color);
  text-decoration: underline;
}
.noResults img {
  max-width: 100%;
}
/* card*/
main section button .card,
main section .card {
  margin-bottom: 20px;
  background-color: var(--main-color);
  color: var(--main-color-invert);
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: left;
  box-shadow: 1px 1px 8px 1px #cad1d9;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
main section button:hover .card {
  box-shadow: 1px 1px 8px 1px #494b4d;
}
main section button:hover .card h2 {
  color: var(--marvel-color);
}
main section .card img {
  max-width: 150px;
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
}
main section .card > div,
main section button .card > div {
  padding: 15px 60px 15px 15px;
}
main section .card h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
main section .card p {
  font-size: 17px;
}

main section .card button.favorites {
  padding: 8px;
  border-radius: 3px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.pagination button {
  padding: 8px 12px;
  border-radius: 3px;
  background-color: var(--main-color);
  color: var(--main-color-invert);
  font-weight: 700;
}
.pagination button.active {
  background-color: var(--marvel-color);
  color: var(--main-color-invert);
}

/* form*/
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px auto;
  padding: 30px 40px;
  line-height: 30px;
  background-color: var(--main-color-invert);
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
input,
select,
textarea {
  width: 65%;
  padding: 0 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  height: 40px;
  background-color: #f4f6f7;
  font-size: 1rem;
  line-height: 40px;
  color: #8191a0;
  border: none;
}
input[type="submit"] {
  width: 30%;
  display: block;
  height: 40px;
  line-height: 40px;
  background-color: var(--marvel-color);
  border-radius: 5px;
  color: var(--main-color-invert);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.error {
  display: inline-block;
  margin-left: 8px;
  color: red;
}
